<div class="container">
  <div class="p-grid">

    <form autocomplete="off" (ngSubmit)="search()">
      <div class="p-col-12">
        <h1>Entries</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Description</label>
        <input pInputText type="text" name="description" [(ngModel)]="filter.description">
      </div>

      <div class="p-col-12">
        <label style="display: block">Due Date</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '105px' }"
          name="dueDateFrom" [(ngModel)]="filter.dueDateFrom"></p-calendar>

          <label>&nbsp;to&nbsp;</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '105px' }"
          name="dueDateTo" [(ngModel)]="filter.dueDateTo"></p-calendar>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Search"></button>
      </div>
    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="entries" [paginator]="true"
        [rows]="filter.itemsPerPage" [responsive]="true"
        [lazy]="true" [totalRecords]="totalRegisters"
        (onLazyLoad)="toChangePage($event)" #tableSearch>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              None register has been found
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Person</th>
            <th>Description</th>
            <th class="col-data-header">Due</th>
            <th class="col-data-header">Payment</th>
            <th class="col-price-header">Price</th>
            <th class="col-actions-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
          <tr>
            <td>
              <span class="p-column-title">Person</span>
              {{ entry.person }}
              </td>
            <td>
              <span class="p-column-title">Description</span>
              {{ entry.description }}
            </td>
            <td class="col-data-content">
              <span class="p-column-title">Due</span>
              <span>{{ entry.due_date | date:'dd/MM/yyyy' }}</span>
            </td>
            <td class="col-data-content">
              <span class="p-column-title">Payment</span>
              <span>{{ entry.payment_date | date:'dd/MM/yyyy' }}</span>
            </td>
            <td class="col-price-content">
              <span class="p-column-title">Price</span>
              <span [style.color]="entry.entry_type === 'EARNING' ? 'green' : 'red'">
                {{ entry.price | number:'1.2-2' }}
              </span>
            </td>
            <td class="col-actions-content">
              <span class="p-column-title"></span>
              <a pButton icon="pi pi-pencil" pTooltip="Update" tooltipPosition="top"
                [routerLink]="['/entries', entry.id]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Delete" tooltipPosition="top"
              (click)="toConfirmDeleting(entry)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="p-col-12">
    <a pButton label="New Entry" routerLink="/entries/new"></a>
  </div>
</div>
