<div class="container">
  <form>

    <div class="p-grid">
      <div class="p-col-12">
        <h1>New Entry</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="entryTypes" #entryType></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Due</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
      </div>
      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ entryType.value === 'EARNING' ? 'Receivement' : 'Payment' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
      </div>
      <div class="p-col-12 p-md-9 p-fluid">
        <label>Description</label>
        <input pInputText type="text">
      </div>
      <div class="p-col-12 p-md-3 p-fluid">
        <label>Price</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Category</label>
        <p-dropdown [options]="categories" placeholder="Choose one"
          #category></p-dropdown>
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Person</label>
        <p-dropdown [options]="persons" placeholder="Choose one"
        [filter]="true" #person></p-dropdown>
      </div>
      <div class="p-col-12 p-fluid">
        <label>Observation</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>
      <div class="p-col-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="button" label="New" class="p-button-info"></button>
        <a style="margin: 2px;" href="#">Back to search</a>
      </div>
    </div>

  </form>
</div>
