<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Entries</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Description</label>
      <input pInputText type="text">
    </div>

    <div class="p-col-12">
      <label style="display: block">Due Date</label>
      <input pInputText type="text" style="width: 95px">

      <label>&nbsp;to&nbsp;</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Search"></button>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <app-entries-grid [entries]="entries"></app-entries-grid>
    </div>
  </div>

  <div class="p-col-12">
    <a pButton label="New Entry"></a>
  </div>
</div>
