<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Entries</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Description</label>
      <input pInputText type="text">
    </div>

    <div class="p-col-12">
      <label style="display: block">Due Date</label>
      <input pInputText type="text" style="width: 95px">

      <label>&nbsp;to&nbsp;</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Search"></button>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="entries" [paginator]="true" [rows]="3">
        <ng-template pTemplate="header">
          <tr>
            <th>Person</th>
            <th>Description</th>
            <th class="col-data-header">Due</th>
            <th class="col-data-header">Payment</th>
            <th class="col-price-header">Price</th>
            <th class="col-actions-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
          <tr>
            <td>{{ entry.person }}</td>
            <td>{{ entry.description }}</td>
            <td class="col-data-content">{{ entry.dueDate }}</td>
            <td class="col-data-content">{{ entry.paymentDate }}</td>
            <td class="col-price-content" [style.color]="entry.entryType === 'EARNING' ? 'green' : 'red'">{{ entry.price }}</td>
            <td class="col-actions-content">
              <a pButton icon="pi pi-pencil"></a>
              <button pButton icon="pi pi-trash"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="p-col-12">
    <a pButton label="New Entry"></a>
  </div>
</div>
