<div class="container">
  <form autocomplete="off">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>New Entry</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="entryTypes" #entryType></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Due</label>
        <p-calendar ngModel #dueDate="ngModel" name="dueDate" required
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
        <app-message [control]="dueDate" error="required"
          text="Type a due date"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ entryType.value === 'EARNING' ? 'Receivement' : 'Payment' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Description</label>
        <input pInputText ngModel #description="ngModel" type="text" name="description" required minlength="5">
        <app-message [control]="description" error="required" text="Type a description"></app-message>
        <app-message [control]="description" error="minlength"
          text="Type at least {{ description.errors?.minlength?.requiredLength }} characters"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Price</label>
        <input pInputText ngModel currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          type="text" placeholder="0,00" name="price">
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Category</label>
        <p-dropdown [options]="categories" placeholder="Choose one"
          #category></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Person</label>
        <p-dropdown [options]="persons" placeholder="Choose one"
        [filter]="true" #person></p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observation</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Save"></button>
        <button pButton type="button" label="New" class="p-button-info"></button>
        <a style="margin: 2px;" href="#">Back to search</a>
      </div>
    </div>

  </form>
</div>
