<div class="container">
  <form #formNewEntry="ngForm" (ngSubmit)="save(formNewEntry)" autocomplete="off">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>New Entry</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="entry_types" [(ngModel)]="entry.entry_type" name="entry_type" #entry_type>
        </p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Due</label>
        <p-calendar [(ngModel)]="entry.due_date" #due_date="ngModel" name="due_date" required
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
        <app-message [control]="due_date" error="required"
          text="Type a due date"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ entry_type.value === 'EARNING' ? 'Receivement' : 'Payment' }}</label>
        <p-calendar [(ngModel)]="entry.payment_date" name="payment_date"
          dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Description</label>
        <input [(ngModel)]="entry.description" pInputText ngModel #description="ngModel"
          type="text" name="description" required minlength="5">
        <app-message [control]="description" error="required" text="Type a description"></app-message>
        <app-message [control]="description" error="minlength"
          text="Type at least {{ description.errors?.minlength?.requiredLength }} characters"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Price</label>
        <input [(ngModel)]="entry.price" pInputText ngModel currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          type="text" placeholder="0,00" name="price">
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Category</label>
        <p-dropdown [(ngModel)]="entry.category.id" name="category"
          [options]="categories" placeholder="Choose one" #category>
        </p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Person</label>
        <p-dropdown [(ngModel)]="entry.person.id" name="person"
          [options]="persons" placeholder="Choose one" [filter]="true" #person>
        </p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observation</label>
        <textarea [(ngModel)]="entry.observation" name="observation" pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button style="margin-right: 2px;" pButton type="submit" label="Save"></button>
        <button style="margin-right: 2px;" pButton type="button" label="New" class="p-button-info"></button>
        <a href="#">Back to search</a>
      </div>
    </div>

  </form>
</div>
