<div class="container">
  <form [formGroup]="entryForm" (ngSubmit)="save()" autocomplete="off">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ updating ? 'Update' : 'New' }} Entry</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="entry_types"
          name="entry_type"
          formControlName="entry_type">
        </p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Due</label>
        <p-calendar name="due_date"
          dateFormat="dd/mm/yy"
          [inline]="false"
          [readonlyInput]="false"
          [showIcon]="true"
          formControlName="due_date">
        </p-calendar>
        <app-message [control]="entryForm.get('due_date')" error="required"
          text="Type a due date"></app-message>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ entryForm.get('entry_type').value === 'EARNING' ? 'Receivement' : 'Payment' }}</label>
        <p-calendar name="payment_date"
          dateFormat="dd/mm/yy"
          [inline]="false"
          [readonlyInput]="false"
          [showIcon]="true"
          formControlName="payment_date">
        </p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Description</label>
        <input pInputText
          type="text"
          name="description"
          formControlName="description">
        <app-message [control]="entryForm.get('description')" error="customRequired" text="Type a description"></app-message>
        <app-message [control]="entryForm.get('description')" error="minSizeCustom"
          text="Type at least {{ entryForm.get('description').errors?.minSizeCustom?.sizeCustom }} characters"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Price</label>
        <input pInputText currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          type="text" placeholder="0,00" name="price"
          formControlName="price">
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="category">
        <label>Category</label>
        <p-dropdown name="category"
          [options]="categories"
          placeholder="Choose one"
          formControlName="id">
        </p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" formGroupName="person">
        <label>Person</label>
        <p-dropdown name="person"
          [options]="persons" placeholder="Choose one" [filter]="true"
          formControlName="id">
        </p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observation</label>
        <textarea name="observation" pInputTextarea rows="3" formControlName="observation"></textarea>
      </div>

      <div style="margin-left: 90%;" class="p-col-6 p-col-offset-6 p-md-2 p-md-offset-10 p-fluid"
        *ngIf="!entryForm.get('attachment').value">
        <p-fileUpload name="attachment" mode="basic" auto="true" maxFileSize="100000000"
          chooseLabel="Attach" accept="image/*,application/*"
          [url]="attachUploadUrl"
          (onBeforeUpload)="beforeAttachmentUpload()"
          (onUpload)="finishAttachUpload($event)"
          (onError)="uploadError($event)"
          [hidden]="ongoingUpload"></p-fileUpload>

          <p-progressSpinner [hidden]="!ongoingUpload"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
      </div>

      <div class="p-col-12 p-fluid" dir="rtl"
        *ngIf="entryForm.get('attachment').value">
        <a target="_blank" pTooltip="Download Attachment" tooltipPosition="top"
          [href]="entryForm.get('attachmentUrl').value">{{ attachmentName }}</a>
      </div>

      <div class="p-col-12">
        <button style="margin-right: 2px;" pButton type="submit" label="Save"
        [disabled]="entryForm.invalid || ongoingUpload"></button>
        <button style="margin-right: 2px;" (click)="new()" pButton
          type="button" label="New" class="p-button-info"></button>
        <a routerLink="/entries">Back to search</a>
      </div>
    </div>

  </form>
</div>
