<div class="container">
  <form #formNewPerson="ngForm" (ngSubmit)="save(formNewPerson)" autocomplete="off">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>New Person</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Name</label>
        <input pInputText ngModel #name="ngModel" [(ngModel)]="person.name"
          name="name" type="text" required minlength="5">
        <app-message [control]="name" error="required"
          text="Type a name"></app-message>
        <app-message [control]="name" error="minlength"
          text="Type at least {{ name.errors?.minlength?.requiredLength }} characters"></app-message>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Street</label>
        <input pInputText ngModel #street="ngModel" [(ngModel)]="person.address.street"
          name="street" type="text" required>
        <app-message [control]="street" error="required"
          text="Type a street"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Number</label>
        <input pInputText ngModel #number="ngModel" [(ngModel)]="person.address.number"
          name="number" type="text" required>
        <app-message [control]="number" error="required"
          text="Type a number"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Complement</label>
        <input pInputText [(ngModel)]="person.address.complement" #complement="ngModel" name="complement" type="text">
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>District</label>
        <input pInputText ngModel #district="ngModel" [(ngModel)]="person.address.district"
          name="district" type="text" required>
        <app-message [control]="district" error="required"
          text="Type a district"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Postal Code</label>
        <p-inputMask ngModel #postal_code="ngModel" [(ngModel)]="person.address.postal_code"
          name="postal_code" mask="99.999-999" required>
        </p-inputMask>
        <app-message [control]="postal_code" error="required"
          text="Type a postal code"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>City</label>
        <input pInputText ngModel #city="ngModel" [(ngModel)]="person.address.city"
          name="city" type="text" required>
        <app-message [control]="city" error="required"
          text="Type a city"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>State</label>
        <input pInputText ngModel #state="ngModel" [(ngModel)]="person.address.state"
          name="state" type="text" required>
        <app-message [control]="state" error="required"
          text="Type a state"></app-message>
      </div>

      <div class="p-col-12">
        <button style="margin-right: 2px;" pButton type="submit" label="Save" [disabled]="formNewPerson.invalid"></button>
        <button style="margin-right: 2px;" pButton type="button" label="New" class="p-button-info"></button>
        <a href="#">Back to search</a>
      </div>
    </div>

  </form>

</div>
